
* {
 font-family: Georgia,Times,Times New Roman,serif; 
}

.image{
	color: #007cc2;
	position: relative; 
}

.forum{
	color:
}

header,footer {
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}




.commentSection{
	font-size: 40px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 25px;
}

.charCount{
	margin-left: 130px;
}

.buttonMargin{
	margin-top: 20px;
	margin-left: 180px;
}

.submit {
	background-color: yellowgreen; 
	color: white; 
	padding: 5px; 
	font-size: 18px; 
	padding: 8px;
}

.commentBox {
    width: 500px;
    border-style: solid;
    border-color: #007cc2;
    background-color: #D3D3D3;
    padding: 10px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.commentBox .time { float:right }
.commentBox .user { font-weight: bold; float: left }
